{{ define "Index" }}
  {{ template "Header" }}
 
<div class="container p-5 my-5 border">
   {{ template "Menu"  }}
    <table  class="table">
      <thead  class="table-success">
      <tr>
        <th>Task id</th>
        <th>Task</th>
        <th>Assignee</th>
        <th>deadline</th>
        <th>Mark</th>
        <th>Edit | View | Delete</th>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td> {{ .Task }} </td>
        <td>{{ .Assignee }} </td> 
        <td>{{ .Dateline }}</td>
        <td><a href="/mark?id={{ .Id }}" class="btn btn-success">{{ .Mark }}</a></td>
        <td><a href="/edit?id={{ .Id }}">Edit</a>|<a href="/show?id={{ .Id }}">View</a>|<a href="/delete?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
</div>
  {{ template "Footer" }}
{{ end }}