{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Task and deadline</h2>  
    <form method="POST" action="insert">
      <label> Task </label><input type="text" name="task" /><br />
      <label> Assignee </label><input type="text" name="assignee" /><br />
       <label for="dateline">Dateline:</label><input type="date" id="dateline" name="dateline">
         <input type="hidden" id="mark" name="mark" value="N">
      <input type="submit" value="Save data" />
    </form>
  {{ template "Footer" }}
{{ end }}